[Desktop Entry]
Name=Bimil
GenericName=Password Manager
Comment=A small password manager.
TryExec=/opt/bimil/bimil.exe
Exec=/opt/bimil/bimil.exe %f
Icon=bimil
Type=Application
Categories=GTK;GNOME;Utility;
MimeType=application/x-bimil
