[Desktop Entry]
Name=Bimil
Comment=A small password manager.
TryExec=/opt/bimil/bimil.exe
Exec=/opt/bimil/bimil.exe %f
Icon=medo64_bimil
Type=Application
Categories=GTK;GNOME;Utility;
MimeType=application/x-bimil
